/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
.header h3 {
  line-height: 40px;
  margin: 0px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  height: 250px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.header h3 a{
  color: black;
}

.header h3 a:hover{
  text-decoration: none;
}


button {
  background-color: #c6783c;
  border: none;
  border-radius: 5px;
  padding: 5px 15px; 
  color: white;
}
button:hover {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}
button>a{
  color: white;
}
button>a:hover{
  text-decoration: none;
}
/* Homepage get started button */
.homepage-signup a:hover{
  color: white;
}
/* Custom nav and dropdown menu */
.nav-user .dropdown-toggle {
  text-transform: uppercase;
}
.nav-user .dropdown-toggle:hover{
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}
.nav-user button{
  padding: 10px;
}
.nav-user .dropdown-menu{
  text-align: center;
  text-transform: uppercase;
}
.nav-user .dropdown-menu>li>a:hover{
  background-color: rgba(0,0,0,0.3);
}
.nav-user .dropdown-menu>li>a{
  margin: 5px 0px;
  padding: 10px 0px;
}
.nav-signup {
  color: black;
  text-transform: uppercase;
}
.nav-signup:hover{
  background-color: rgba(0,0,0,0.3);
  color: black;
}
.nav-login>a{
  background-color: #c6783c;
  border: none;
  border-radius: 5px;
  padding: 10px; 
  color: white;
}
.nav-login>a:hover{
  background-color: rgb(138,82,42)!important;
  box-shadow:0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

/* Modal */

.modal .modal-footer button{
  background-color: transparent;
  border: none;
  color: #c6783c;
  text-transform: uppercase;
}
.modal .modal-footer button:hover{
  background-color: #c6783c;
  color: white;
}